body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;

}
.navbar-light .navbar-nav .nav-link {
    color: gray;
    font-weight: bold;
    font-size: 1.2rem;
    
}

.navbar-light .navbar-nav .nav-link:hover{
    color: blue;
    
    
}
.navbar
{
    background: white;
}

.navbar-margin-top
{
    margin-top: -10px;
    padding-bottom: 0;
}
@media only screen and (max-width: 600px) {
    .navbar
    {
        background: white;
        height: auto;
        margin-top: -20px;
    }
    .home-margin-top
    {
        margin-top: 80px;
    }
} 
@media only screen and (min-width: 992px) {
    .navbar
    {
        height: 80px;
        padding:20px 0 10px 0;
    }
}


.marginleft-navbar
{
    margin-left: 40%;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    font-weight: bold;
    border-radius: 0;
    border:none;
    background-color: #fff;
    background-clip: padding-box;
    
}


.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #808080;
    font-weight: bold;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
}
.dropdown-item:hover{
    background-color: black;
    color: white;
}
.landing-img
{
    margin-left: 10%;
}
.bold
{
    font-weight: bold;
}
.btn-joinieee
{
    background: #080263;
    color: white;
    border-radius: 40px;
    width: 200px;
}    
.btn-joinieee:hover
{
    color: white;
    
    
}
.home-margin-top
{
    margin-top: 50px;
}
.height-adjust
{
    height: 65px;
    padding-left: 15px;
    border-left: 1px solid gray;
}

.bg-img{
    background: url("./images/strength.jpg");
    
    background-size: cover;
    background-position: 4px;
}
.our-strength
{

 font-weight: bolder;
font-size: 3rem;
}
.bold-strength{
    color: white;
    font-size: 2.4rem;
    font-weight: bold;
}
.number-strength
{
   font-size: 1.9rem;
   color: yellow;
   font-weight: bolder;
   border-radius: 800px;
  
   height: 120px;
   text-align: center;
}
.bg-drak1
{
    background: black;
    height: 300px;
}
.inside-mem{
    position: relative;
    top: 10px;
    font-size: 3.5rem;
}
.bg-footer{
    background:#212529;;
}
hr{
    color: white;
}

.btm-border
{
    border-bottom: 1px solid lightgray;
    padding-bottom: 8px;
}
.abt-clg-detail
{
    line-height: 25px;
    font-size: 1.12rem;
}
.vsn-msn
{
    height: 58px;
    
}
.text-vsn-msn
{
    font-size: 2.3rem;
    position: relative;
    top: -20px;
}
.head-abt
{
    font-size: 1.8rem;
}
.bg-light1
{
    background: lightgrey;
}
.ex-img-sb
{
    border-radius: 40px 0 40px 0;
    height: 180px;
    border:1px solid lightgray;
    padding: 3px;
}
.ex-img-sb-cs
{
    border-radius: 40px 0 40px 0;
    height: 180px;
    border: 1px solid lightskyblue;
    padding: 3px;
}
.ex-img-sb-pes
{
    border-radius: 40px 0 40px 0;
    height: 180px;
    border: 1px solid lightgreen;
    padding: 3px;
}
.ex-img-sb-ras
{
    border-radius: 40px 0 40px 0;
    height: 180px;
    border: 1px solid darkred;
    padding: 3px;
}
.ex-img-sb-wie
{
    border-radius: 40px 0 40px 0;
    height: 180px;
    border: 1px solid darkorchid;
    padding: 3px;
}
.ex-img-sb-ias
{
    border-radius: 40px 0 40px 0;
    height: 180px;
    border: 1px solid darkolivegreen;
    padding: 3px;
}

.ex-head
{
    font-size: 2rem;
   
}
.society-head
{
    font-size: 2.8rem;
}
.society-more-btn
{
    background:darkslategrey;
    border-radius: 50px;
    color: lightgray;
}
.society-more-btn:hover
{
    background:darkslategrey;
    border-radius: 50px;
    color: white;
}
.text-event-head
{
    color: darkslategrey;
}
.color-grey
{
    color:#808080;
}
.hr-inner-position
{   position: relative;
    top: -30px;
}
.hr-inner-position-head
{   position: relative;
    top: -15px;
}
.hr-inner-position-wie
{   position: relative;
    top:2px;
}
.hr-inner-position-abt
{   position: relative;
    top:-30px;
}
.position-text-society
{
    position: relative;
    top: -25px;

}
.position-text-society-head
{
    position: relative;
    top: -10px;

}
.position-text-society-wie
{
    position: relative;
    top: 5px;

}

/* Icon 1 */
.animated-icon2{
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    
    .animated-icon2 span{
    display: block;
    position: absolute;
    height: 4px;
    width: 110%;
    border-radius: 13px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }
    .animated-icon2 span {
        background: #808080;
}

.animated-icon2 span:nth-child(1)
 {
    top: 0px;
}
.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) 
{
    top: 10px;
}
.animated-icon2 span:nth-child(4)
 {
    top: 20px;
}
.animated-icon2.open span:nth-child(1) 
{
    top: 11px;
    width: 0%;
    left: 50%;
}
.animated-icon2.open span:nth-child(2)
 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.animated-icon2.open span:nth-child(3)
{
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.animated-icon2.open span:nth-child(4)
{
    top: 11px;
    width: 0%;
    left: 50%;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border: none;
}
        
.navbar
{
    background: white;
    border: none;
}   

.navbar-toggler
{
    border:none;
}


