body{
    font-family: 'Nunito', sans-serif;
}
.navbar-light .navbar-nav .nav-link {
    color: gray;
    font-weight: bold;
    font-size: 1.1rem;
    
}

.navbar-light .navbar-nav .nav-link:hover{
    color: blue;
    
    
}
.navbar
{
    background: white;
}
.navbar-margin-top
{
    margin-top: -20px;

}

.marginleft-navbar
{
    margin-left: 40%;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    font-weight: bold;
   
    background-color: #fff;
    background-clip: padding-box;
    
}


.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #808080;
    font-weight: bold;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
}
.dropdown-item:hover{
    background-color: #080263;
    color: white;
}
.landing-img
{
    margin-left: 10%;
}
.bold
{
    font-weight: bold;
}
.btn-joinieee
{
    background: #080263;
    color: white;
    border-radius: 40px;
    width: 200px;
}    
.btn-joinieee:hover
{
    color: white;
    
    
}
.home-margin-top
{
    margin-top: 110px;
}
.height-adjust
{
    height: 65px;
    padding-left: 15px;
    border-left: 1px solid gray;
}

.bg-img{
    background: url("./images/strength.jpg");
    
    background-size: cover;
    background-position: 4px;
}
.bold-strength{
    color: white;
    font-size: 2.4rem;
    font-weight: bold;
}
.number-strength
{
   font-size: 1.8rem;
   color: yellow;
   font-weight: bolder;
   border-radius: 800px;
  
   height: 120px;
   text-align: center;
}
.bg-drak1
{
    background: black;
    height: 300px;
}
.inside-mem{
    position: relative;
    top: 25px;
    font-size: 3rem;
}
.bg-footer{
    background:#212529;;
}
hr{
    color: white;
}

.btm-border
{
    border-bottom: 1px solid lightgray;
    padding-bottom: 8px;
}
.abt-clg-detail
{
    line-height: 2
    5px;
    font-size: 1.12rem;
}
.vsn-msn
{
    height: 70px;
    
}
.text-vsn-msn
{
    font-size: 2.3rem;
    position: relative;
    top: -20px;
}
.head-abt
{
    font-size: 1.6rem;
}
.bg-light1
{
    background: lightgrey;
}
.ex-img-sb
{
    border-radius: 200px;
    height: 200px;
}

.ex-head
{
    font-size: 2rem;
   
}